.leftsidebar-container {
  background-color: white;
}

.upper-part {
  background-color: white;
  margin-bottom: -5px;
}

.menubar-link {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.is-customer {
  display: none;
}
