.carousel1 {
  position: absolute;
  top: 0;
  left: 0;
}

.tabledelete {
  top: -50px;
  position: absolute;
  left: 30vw;
}

.furnitureItem {
  width: 60vw;
}

th {
  background: none;
}

.bnt {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 5px;
}
