.containerhome {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/fond_home.png');
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.LinkhomeL_login {
  background-color: #7dd21f;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: 2px solid  #7dd21f;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bolder;
  color: white;
}

.LinkhomeL_login:hover {
  background-color: #7dd21f;
  color: white;
  font-weight: bolder;
}

.LinkhomeL_login:focus {
  outline: none;
  box-shadow: 0 0 5px #7dd21f;
}

.fa-arrow-circle-o-right {
  margin-left: 5px;
}

@media (max-width: 780px) {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .LinkhomeL_login {
    background-color: #7dd21f;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border: 2px solid #7dd21f;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bolder;
    color: white;
  }
}
