.container-login {
  position: absolute;
  left: 20vw;
  top: 10vh;
  height: 80vh;
  width: 60vw;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: #7dd21f solid 2px;
  box-shadow: 10px 8px 37px -3px rgba(125,210,31,0.75);
-webkit-box-shadow: 10px 8px 37px -3px rgba(125,210,31,0.75);
-moz-box-shadow: 10px 8px 37px -3px rgba(125,210,31,0.75);
}

.blur {
  /* position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #090909; */
}

.container-signup {
  top: 10px;
  position: absolute;
  left: 20vw;
  height: auto;
  width: 60vw;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: #7dd21f solid 2px;
  box-shadow: 10px 8px 37px -3px rgba(125,210,31,0.75);
  -webkit-box-shadow: 10px 8px 37px -3px rgba(125,210,31,0.75);
  -moz-box-shadow: 10px 8px 37px -3px rgba(125,210,31,0.75);
}

.container-form {
  width: 70vw;
  height: 80vh;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 400;
  position: relative;
  font-size: 18px;
}

.container-form2 {
  width: auto;
  height: auto;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 400;
  position: relative;
  font-size: 18px;
}

.container-form .form-login {
  padding: 30px 45px 30px 45px;
  position: relative;
}

.form-login h2 {
  font-weight: 500;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  padding: 3px 0 10px;
  margin-bottom: 30px;
  border-bottom: #7dd21f solid 2px;
  margin-left: 10px;
}

.form-login .form-row {
  position: relative;
}

.form-login .form-row-last {
  text-align: center;
}

.form-login label {
  display: block;
  font-size: 18px;
  padding-bottom: 10px;
}

.form-login .input-text {
  margin-bottom: 26px;
}

.form-login input {
  width: 94.5%;
  padding: 10.5px 15px;
  border: #7dd21f solid 2px;
  appearance: unset;
  outline: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
}

.form-login input:focus {
  border: #7dd21f solid 2px;
}

.form-login .register {
  font-size: 18px;
  color: #fff;
  background: #7dd21f;
  border-radius: 5px;
  width: 180px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 3px;
  cursor: pointer;
}

.form-login .register:hover {
  background: #7dd21f;
}

.form-login .form-row-last input {
  padding: 12px;
}

input::placeholder {
  color: #999;
  font-size: 16px;
}

.form-login strong {
  color: #121b12;
  font-size: 16px;
  font-style: italic;
}

.loginlink {
  text-decoration: none;
  font-family: 'robucop', sans-serif;
  font-weight: bolder;
  color: #090909;
}

.fa-arrow-right {
  margin-left: 5px;
  color: #7dd21f;
}

.P_singup {
  margin-left: 30px;
  margin-bottom: 4px;
}

.P_singin {
  margin-left: 30px;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .container-form {
    margin: 4% 20px;
  }

  .form-login h2 {
    font-size: large;
    font-weight: bolder;
    position: relative;
    padding: 3px 0 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    border-bottom: #7dd21f solid 2px;
  }
}
