.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
 position: absolute; 
 width: 24px;
 height: 24px; 
 left:35vw;
 top: 8px;
 background-color: #060a00;
}

.bm-cross-button .fa {
 color: white;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100vw;
}

.bm-menu {
  position: fixed;
  font-size: 1.15em;
  z-index: 0;
}

.bm-item-list {
 position: fixed;
 top: 0;
 left:0;
 padding: 0;
 width: 45vw;
 background: white;
 border-right: #373a47a4 2px solid;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  display: none;
}

.bm-burger-button {
 position: fixed;
 top: 10px;
 left: 10px;
  z-index: 2000;
  width: 20px;
  height: 20px;
}

/* @media (max-width: 645px) {
 .bm-cross-button {
  position: absolute; 
  width: 24px;
  height: 24px; 
  right: 20%;
  top: 8px;
  background-color: #060a00;
 }
}
@media (max-width: ) {
 .bm-cross-button {
  position: absolute; 
  width: 24px;
  height: 24px; 
  right: 20%;
  top: 8px;
  background-color: #060a00;
 }
} */